In [1]:
import pandas as pd
import contractions

from sklearn

# Seth Godin's Blog Dataset - EDA

In [2]:
dataset = pd.read_csv('../data/seth-data.csv')

dataset.head()

,Unnamed: 0,id,url,title,content_plain,content_html,stars,publication-date,referral-url
0,0,24220,https://seths.blog/2002/01/free_signed_cop/,Free Signed Copy of SURVIVAL IS NOT ENOUGH,Don’t know if you read the column I wrote abo...,Don’t know if you read the column I wrote abo...,104,"January 17, 2002",https://seths.blog/page/742/
1,1,24221,https://seths.blog/2002/01/free_ebook_buy_/,Free eBook,Buy a copy of the new paperback edition of Th...,Buy a copy of the new paperback edition of Th...,145,NaN,https://seths.blog/page/742/
2,2,24222,https://seths.blog/2002/01/free_quiz_find_/,Free Quiz,Find out if you zoom. My friend Red did an am...,Find out if you zoom. My friend Red did an am...,112,NaN,https://seths.blog/page/742/
3,3,24223,https://seths.blog/2002/01/thanks_survival/,Thanks,Survival is Not Enough. hit #4 on the Denver ...,Survival is Not Enough. hit #4 on the Denver ...,140,NaN,https://seths.blog/page/742/
4,4,24224,https://seths.blog/2002/01/boring_i_was_st/,Boring,I was stranded today. I had to spend hours in ...,I was stranded today. I had to spend hours in ...,618,"January 15, 2002",https://seths.blog/page/742/

In [3]:
dataset = dataset[dataset['content_plain'].notna()]

dataset = dataset[['content_plain']]

## Data Cleaning

In [4]:
dataset['content_plain'] = dataset['content_plain'].str.replace('’', "'")
dataset['content_plain'] = dataset['content_plain'].str.replace('’', "'")
dataset['content_plain'] = dataset['content_plain'].str.replace('“', '"')
dataset['content_plain'] = dataset['content_plain'].str.replace('“', '"')
dataset['content_plain'] = dataset['content_plain'].str.replace('”', '"')
dataset['content_plain'] = dataset['content_plain'].str.replace('”', '"')
dataset['content_plain'] = dataset['content_plain'].str.replace('\.\.\.', '…')
dataset['content_plain'] = dataset['content_plain'].str.replace('\.\.', '…')

/var/folders/s1/ts3nxvl965lfts126qzdcw300000gn/T/ipykernel_29371/1793159081.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['content_plain'] = dataset['content_plain'].str.replace('\.\.\.', '…')
/var/folders/s1/ts3nxvl965lfts126qzdcw300000gn/T/ipykernel_29371/1793159081.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset['content_plain'] = dataset['content_plain'].str.replace('\.\.', '…')

In [5]:
dataset

                                          content_plain
0     Don't know if you read the  column I wrote abo...
1     Buy a copy of the new paperback edition of  Th...
2      Find out if you zoom. My friend Red did an am...
3      Survival is Not Enough. hit #4 on the Denver ...
4     I was stranded today. I had to spend hours in ...
...                                                 ...
7400  Without a doubt, today's average jazz producer...
7401  Mathematicians don't need to check in with the...
7402  I just noticed something about the ubiquitous ...
7403  Me & Nowvs.Us & LaterThis is the conflict ever...
7404  If you're under 14: "Good."It's good that you'...

[7398 rows x 1 columns]

In [6]:
dataset['content_plain'] = dataset['content_plain'].apply(lambda post: contractions.fix(post))

In [7]:
dataset.to_csv('../data/clean_dataset.csv', index=False)